<!DOCTYPE html>
<html lang="en">
    

<head>
    {% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>



</head>
<body style="background-color: #FAFAFA;height: 100%">
    <section class="container" style="width: 640px;height: 1315px; margin-top: 100px;">
        <!-- <h2 class="d-flex justify-content-center my-5">회원가입</h2> -->
        <div>
          <div style="display: flex;align-items: center;justify-content: center">
              <h2>𝖙𝖗𝖎𝖕𝖘𝖙𝖆𝖗𝖌𝖗𝖆𝖒</h2>
           
        </div>
        <div>
          <form class="mx-3" action="{% url 'accounts:signup' %}"
            style="border-top: 0px solid rgb(51, 51, 51); font-size:14px;" method="POST">
            {% csrf_token %}
            <div class="d-flex align-items-center">
              <h6 class="my-3" style="width: 123px; color: rgb(51, 51, 51); font-size:14px;">아이디</h6>
              <div class="my-3">
                <input type="text" style="width: 333px; height: 46px;" name="username" maxlength="150" autofocus=""
                  class="signup-input form-control" placeholder="아이디를 입력해주세요" required="" id="id_username">
              </div>
              </div>
              <div class="d-flex align-items-center">
                  <h6 class="my-3" style="width:123px; color: rgb(51, 51, 51); font-size:14px;">닉네임</h6>
                  <div class="my-3">
                    <input type="text" style="width:333px; height: 46px;" name="nickname" class="signup-input form-control"
                      placeholder="닉네임을 입력해주세요" requird="" id="id_nickname">
                  </div>
      
      
            </div>
            <div class="d-flex align-items-center">
              <h6 class="my-3" style="width: 123px; color: rgb(51, 51, 51); font-size: 14px;">비밀번호</h6>
              <div class="my-3">
                <input type="password" style="width:333px; height: 46px;"  name="password1" autocomplete="new-password"
                  class="signup-input form-control" placeholder="비밀번호를 입력해주세요" required="" id="id_password1">
              </div>
            </div>
            <div class="d-flex align-items-center">
              <h6 class="my-3" style="width: 123px; color: rgb(51, 51, 51); font-size: 14px;">비밀번호 확인</h6>
              <div class="my-3">
                <input type="password" style="width:333px; height: 46px;" name="password2" autocomplete="new-password"
                  class="signup-input form-control" placeholder="비밀번호를 한 번 더 입력해주세요" required="" id="id_password2">
              </div>
            </div>
            <div class="d-flex justify-content-center my-3">
              <input type="submit" class="btn py-2 px-5 fw-bold form-control"
                style="border-radius:0px; height:56px; background-color: #6365cf; color: white" value="가입하기">
            </div>
          </form>
        </div>
        <hr>
        <div class="d-flex justify-content-center align-items-center">
          <p class='mb-0' style="color: rgba(194, 200, 204, 1)">이미 회원이라면? <a class="text-decoration-none"
              style="color:#5e0080" href="{% url 'accounts:login' %}">로그인</a></p>
        </div>
      
      </section>
      
      <section class="wave-section container" style="width: 640px;">
        <div class="wave wave1"></div>
        <div class="wave wave2"></div>
        <div class="wave wave1"></div>
        <div class="wave wave2"></div>
      </section>
      
      
      
</body>
</html>
        <h6 class="my-3" style="width: 123px; color: rgb(51, 51, 51); font-size: 14px;">비밀번호</h6>
        <div class="my-3">
          <input type="password" style="width:333px; height: 46px;"  name="password1" autocomplete="new-password"
            class="signup-input form-control" placeholder="비밀번호를 입력해주세요" required="" id="id_password1">
        </div>
      </div>
      <div class="d-flex align-items-center">
        <h6 class="my-3" style="width: 123px; color: rgb(51, 51, 51); font-size: 14px;">비밀번호 확인</h6>
        <div class="my-3">
          <input type="password" style="width:333px; height: 46px;" name="password2" autocomplete="new-password"
            class="signup-input form-control" placeholder="비밀번호를 한 번 더 입력해주세요" required="" id="id_password2">
        </div>
      </div>
      <div class="d-flex justify-content-center my-3">
        <input type="submit" class="btn py-2 px-5 fw-bold form-control"
          style="border-radius:2px; height:56px; background-color: #696be9; color: white" value="가입하기">
      </div>
    </form>
  </div>
  <hr>
  <div class="d-flex justify-content-center align-items-center">
    <p class='mb-0' style="color: rgba(194, 200, 204, 1)">이미 회원이라면? <a class="text-decoration-none"
        style="color:#5e0080" href="{% url 'accounts:login' %}">로그인</a></p>
  </div>

</section>
